# Data Science Tools and Ecosystem
## Author
Millena C. Guimar√£es

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List of the commonly used libraries for Data Science
* A table of open-source tools used in data science development environments.
* A few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
    
1. NumPy
2. TensorFlow
3. Caret
4. ggplot2

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Visual Studio Code (VS Code) |

### Below are a few examples of evaluating arithmetic expressions in Python

3+5

3-5

3*5

In [2]:
3+5

8

In [4]:
3-5

-2

In [5]:
3*5

15

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335